<h1>Airplane 데이터 삽입</h1> 
<!--'/'의 주소가 있을 때 출력-->
<form id="airplane" method="post" > 
    <div>
        <label for="Airplane_id">Airplane_id</label>
        <input id="Airplane_id" name="Airplane_id" type="text" required placeholder="Airport id"> 
    </div> 
    <div>
        <label for="Airplane_type">Airplane_type</label>
        <input id="Airplane_type" name="Airplane_type" type="text" required placeholder="Airport type">
    </div> 
    <div>    
        <input type="submit" value="삽입">
    </div> 
</form>