<h1>Flight 데이터 삽입</h1> 
<!--'/'의 주소가 있을 때 출력-->
<form id="flight" method="post" > 
    <div>
        <label for="Number">Number</label>
        <input id="Number" name="Number" type="text" required placeholder="Number"> 
    </div> 
    <div>
        <label for="Airline">Airline</label>
        <input id="Airline" name="Airline" type="text" required placeholder="Airline">
    </div> 
    <div>    
        <input type="submit" value="삽입">
    </div> 
</form>